<div class="page-header animated slideInRight">
  <h1 class="text-info">Documentation <small>how to use microscope.js</small></h1>
</div>

<div class="row">
	<div class="col-md-3">
		<ul class="list-group animated slideInLeft">
			<li class="list-group-item"><a href="">Getting started</a></li>
			<li class="list-group-item">Project architecture</li>
			<li class="list-group-item">CLI</li>
			<li class="list-group-item">Models</li>
			<li class="list-group-item">Controllers</li>
			<li class="list-group-item">API</li>
			<li class="list-group-item">Data Access Layer</li>
			<li class="list-group-item">Views</li>
			<li class="list-group-item">Database</li>
			<li class="list-group-item">Middleware</li>
		</ul>
	</div>
	<div class="col-md-9 animated bounceInUp">
		<h2 class="text-primary">Getting started</h2>
			<h3 class="text-success">installation</h3>
			<h3 class="text-success">create new app</h3>
			<h3 class="text-success">synchronize model</h3>

		<h2 class="text-primary">Project architecture</h2>
			<h3 class="text-success">App</h3>
			<h3 class="text-success">api</h3>
			<h3 class="text-success">controller</h3>
			<h3 class="text-success">models</h3>
			<h3 class="text-success">views</h3>
			<h3 class="text-success">dal</h3>
			<h3 class="text-success">configs</h3>
			<h3 class="text-success">db</h3>
			<h3 class="text-success">middleware</h3>
			<h3 class="text-success">public</h3>

		<h2 class="text-primary">CLI</h2>
			<h3 class="text-success">Command Line Interface</h3>
			<h3 class="text-success">Command Line Tool</h3>

		<h2 class="text-primary">Models</h2>
			<h3 class="text-success">Sequelize</h3>
			<h3 class="text-success">Datatypes</h3>

		<h2 class="text-primary">Controllers</h2>
			<h3 class="text-success">routes</h3>
			<h3 class="text-success">actions</h3>
			<h3 class="text-success">filters</h3>

		<h2 class="text-primary">API</h2>
			<h3 class="text-success">routes</h3>

		<h2 class="text-primary">Data Access Layer</h2>

		<h2 class="text-primary">Views</h2>
			<h3 class="text-success">EJS</h3>
			<h3 class="text-success">helpers</h3>

		<h2 class="text-primary">Database</h2>
			<h3 class="text-success">DbConnection</h3>
			<h3 class="text-success">DbContext</h3>
			<h3 class="text-success">DbManager</h3>
			<h3 class="text-success">DbFixtures</h3>

		<h2 class="text-primary">Middleware</h2>
			<h3 class="text-success">errors</h3>
			<h3 class="text-success">device handler</h3>
			<h3 class="text-success">membership</h3>
			<h3 class="text-success">filters</h3>

	</div>
</div>