<div class="page-header animated slideInRight">
  <h1 class="text-info">Documentation <small>how to use microscope.js</small></h1>
</div>

<div class="row">
	<div class="col-md-3">
		<%- partial('menu') %>
	</div>

	<div class="col-md-9 animated bounceInUp">
		<h2 class="text-primary" id="getting-started">Getting started</h2>
			<h3 class="text-success">installation</h3>
				<p>You can install microscope with node package manager</p>
				<pre>npm install microscope -g</pre>

			<h3 class="text-success">create new application</h3>
				<p>you can use the CLI to generate new pre-builded project</p>
				<pre>microscope new projectname</pre>
				<p>or you can use the microscope inquirer tool with the following selection :</p>
				<pre>microscope tool</pre>
				<pre>> new project</pre>
				<p>You now need to install microscope project dependencies</p>
				<pre>cd projectname</pre>
				<pre>npm install</pre>
				<pre>bower install</pre>
				<p>You are done !</p>

			<h3 class="text-success">synchronize model</h3>
				<p>basic microscope project come with user model for authentication</p>
				<p>you need to synchronize you model with your database</p>
				<p>create new mysql database and edit <strong>./config/database.json</strong> config file</p>
				<pre>
{
  "name": "mydatabasename",
  "user": "root",
  "password": "",
  "host": "localhost",
  "port": 3306,
  "dialect": "mysql"
}
				</pre>
				<p>Now run</p>
				<pre>microscope db sync</pre>
				<p>or with microscope inquirer tool</p>
				<pre>microscope tool</pre>
				<pre> > database</pre>
				<pre> > synchronize</pre>

			<h3 class="text-success">run server</h3>
				<p>congratulation ! You can now run your server</p>
				<pre>microscope server</pre>
				<p>or :</p>
				<pre>microscope tool > run server</pre>

			<h3 class="text-success">application development</h3>
				<p>During development, you can run your application with <a href="http://nodemon.io/">nodemon</a> auto reload and assets watch grunt task</p>
				<pre>grunt debug</pre>
				<ul>
					<li>Run application with <a href="http://nodemon.io/">nodemon</a>.</li>
					<li>Watch for assets files changes (images, scripts and stylus).</li>
					<li>Run default web browser.</li>
				</ul>

				<p>Visit : <a class="btn btn-success" href="http://localhost:3000">http://localhost:3000</a></p>
				<p>
					<a class="btn btn-primary" href="/documentation/architecture">Project architecture</a>
				</p>
	</div>
</div>