<div id="carousel-example-generic" class="carousel slide animated slideInDown">

  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>
     <div class="carousel-inner">
    	<div class="item active">
		  <img src="/images/mcsp_bg.png">
		  <div class="carousel-caption">
			<p class="lead">Node.js MVC framework for productive web development - BETA</p>
			<p>
				<a href="/documentation" class="btn btn-primary btn-lg">
					Documentation
				</a>
				<a href="https://github.com/bhtz/microscopejs" class="btn btn-danger btn-lg">
					Show Github
				</a>
			</p>
		  </div>
		</div>
	    
		<div class="item ">
		  <img src="/images/mcsp_bg_empty_inquirer.png">
		  <div class="carousel-caption">
		    <h3>Command Line Interface</h3>
		    <p>prototype web application quickly with awesome tools</p>
		  </div>
		</div>

		<div class="item">
		  <img src="/images/mcsp_bg_empty_logos.png">
		  <div class="carousel-caption">
		    <h3>All in the box !</h3>
		    <p>jQuery, Stylus, AngularJS, Bootstrap 3, Gruntjs</p>
		  </div>
		</div>
    </div>

  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="icon-next"></span>
  </a>
</div>

<br>
<div class="row">

	<div class="col-md-4 animated bounceIn">
		<div class="panel panel-info">
		  <div class="panel-heading">
		    <h3 class="text-center text-info"><span class="glyphicon glyphicon-cloud-upload"></span> What is microscope.js ?</h3>
		  </div>
		  <div class="panel-body">
				<p class="text-justify">
				microscope.js is an open source <a href="http://nodejs.org/">nodejs</a> <strong>MVC framework</strong> for <strong>productive</strong> web development. It is based on <a href="http://expressjs.com/">express.js</a> and uses several popular npm modules like <a href="http://sequelizejs.com/">sequelize.js</a> and <a href="http://passportjs.org/">passport.js</a>.
				</p>
		  </div>
		</div>
	</div>

	<div class="col-md-4 animated bounceIn">
		<div class="panel panel-success">
		  <div class="panel-heading">
		    <h3 class="text-center text-success"><span class="glyphicon glyphicon-folder-open"></span> All in the box !</h3>
		  </div>
		  <div class="panel-body">
			<p class="text-justify">
				microscope provided a number of tools for building modern web applications:
				<a href="http://jquery.com/">jQuery</a>, <a href="http://angularjs.org/">AngularJS</a>, <a href="http://modernizr.com/">modernizr</a>, <a href="http://learnboost.github.io/stylus/">stylus CSS pre-processor</a>, <a href="http://codeseven.github.io/toastr/demo.html">toastr</a>, <a href="http://getbootstrap.com/">bootstrap</a>.
			</p>
		  </div>
		</div>
	</div>

	<div class="col-md-4 animated bounceIn">
		<div class="panel panel-danger">
		  <div class="panel-heading">
		    <h3 class="text-center text-error"><span class="glyphicon glyphicon-fire"></span> Command Line Interface</h3>
		  </div>
		  <div class="panel-body">
			<p class="text-justify">
				microscope provided a <strong>command line interface</strong> to quickly build web application. You can run server, <strong>generate</strong> some models or controllers and <strong>scaffold</strong> <strong>REST API</strong>, <strong>CRUD controller</strong> or <strong>Data Access Layer</strong>.
			</p>
		  </div>
		</div>
	</div>

</div>