<ul class="list-group">
	<a class="list-group-item active" href="/documentation">Getting started</a>
	<a class="list-group-item" href="/documentation/architecture">Project architecture</a>
	<a class="list-group-item" href="/documentation/cli">CLI</a>
	<a class="list-group-item" href="/documentation/models">Models</a>
	<a class="list-group-item" href="/documentation/controllers">Controllers</a>
	<a class="list-group-item" href="/documentation/api">Api</a>
	<a class="list-group-item" href="/documentation/dal">Data Access Layer</a>
	<a class="list-group-item" href="/documentation/views">Views</a>
	<a class="list-group-item" href="/documentation/database">Database</a>
	<a class="list-group-item" href="/documentation/middleware">Middleware</a>
	<a class="list-group-item" href="/documentation/logging">Logging</a>
</ul>