<div class="page-header animated slideInRight">
	<h1 class="text-info">tutorial - <small>learn microsocpejs with screencasts (french)</small></h1>
</div>

<h2 class="text-primary">Getting started</h2>
<p>... come soon ...</p>