<div class="page-header animated slideInRight">
  <h1 class="text-info">Documentation <small>how to use microscope.js</small></h1>
</div>

<div class="row">
	<div class="col-md-3">
		<ul class="list-group">
			<a class="list-group-item" href="/documentation">Getting started</a>
			<a class="list-group-item" href="/documentation/architecture">Project architecture</a>
			<a class="list-group-item" href="/documentation/cli">CLI</a>
			<a class="list-group-item" href="/documentation/models">Models</a>
			<a class="list-group-item" href="/documentation/controllers">Controllers</a>
			<a class="list-group-item" href="/documentation/api">Api</a>
			<a class="list-group-item" href="/documentation/dal">Data Access Layer</a>
			<a class="list-group-item active" href="/documentation/views">Views</a>
			<a class="list-group-item" href="/documentation/database">Database</a>
			<a class="list-group-item" href="/documentation/middleware">Middleware</a>
		</ul>
	</div>
	<div class="col-md-9 animated bounceInUp">
		<h2 class="text-primary">Views</h2>
			microscope use <a href="http://embeddedjs.com/">EJS</a> views and <a href="https://npmjs.org/package/express-helpers">express-helpers module</a>.
				<p>
					All views are defined in app/views folder and there is one folder by controller.
					At the root of views folder you can find views called layout.ejs and layout_mobile.ejs. It is the master page of your application. layout_mobile.ejs is a jQuery mobile master page and microscope render it for mobile device.
				</p>
				<p>Here is a basic form with EJS and express-helpers :</p>
				<script src="https://gist.github.com/bhtz/6854384.js"></script>
				<h3>helpers</h3>
				<p>Read the wiki of <a href="https://npmjs.org/package/express-helpers">express-helpers</a> for learn how to use it.</p>

		<p>
			<a class="btn btn-warning" href="/documentation/dal">Data access layer</a>
			<a class="btn btn-primary" href="/documentation/database">Database</a>
		</p>
	</div>
</div>